<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form enctype="multipart/form-data" method="post" action="http://localhost:8080/api/images/point">
    <input type="file" name="file" >
    <button type="submit">submit</button>
</form>

</body>
</html>