<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<!--    <head th:replace="fragments/head :: configFragment"></head>-->
    <!-- header th:replace="fragments/header :: headerFragment"></header -->
<!--    <div layout:fragment="content"></div>-->
    <!-- footer th:replace="fragments/footer:: footerFragment"></footer -->

<!--<footer>-->
<!--    <th:block th:replace="fragments/footer"></th:block>-->
<!--</footer>-->

</html>